body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    display: flex;

}

.left_section {
    width: 60%;
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
}

.right_section {
    padding: 0;
    margin: 6rem auto;
    width: 40%;
    height: 600px;
}

.right_section_sub_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
}

.right_section_sub_one h1 {
    margin: 0.5rem auto;
    padding: 0;
}

.right_section input {
    width: 90%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: .25rem;
    /* box-shadow: none; */
}


button {
    width: 90%;
    padding: .5rem;
    margin: 0.5rem;
    border-radius: .25rem;

}

.checkbox_box {
    display: inline-flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
}

.checkbox_box>input {
    flex: 1;
}

.right_section_sub_two {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem auto;
}


/* // */

.main-xs {
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
}

.right-section-xs {
    padding: 0;
    margin: 6rem auto;
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-section-xs input {
    margin: 0.5rem auto;
    padding: 5px;

}

.right_section_sub_two-xs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.5rem auto;
}